*.pyc
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
/.pydevproject.bak
/.settings/
/.vscode/
/bin/
/build/
/buildout.cfg
/coverage/
/develop-eggs/
/devsrc/
/dist/
/eggs/
/env/
/include/
/lib/
/lib64
/local/
/parts/
/pip-selfcheck.json
/pyvenv.cfg
/run.sh
/share/
/src/yafowil.demo.egg-info/
/vpython/
