*.pyc
/.project
/.pydevproject
/.mr.developer.cfg
/.pydevproject.bak
/.installed.cfg
/pip-selfcheck.json
/run.sh
/buildout.cfg
/bin/
/devsrc/
/eggs/
/parts/
/env/
/develop-eggs/
/src/yafowil.demo.egg-info/
/.settings/
/vpython/
/local/
/lib/
/include/
/coverage/
/lib64
