/* Bootstrap patch for input height. Version 2.0.4  */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    height: auto;
}
input[type="submit"] {
	display:block;
}

/* YAFOWIL example page styles */
.navbar .brand {
    color: #FFFFFF;
    text-shadow: 2px 2px 3px #777777;
}
img.yafowil-logo {
	margin-top: 2em;
	margin-left: 2em;
	margin-bottom: 2em;
}
.content-wrapper {
    padding-top: 40px;
}
.example-form {
    margin-top: 2em;
}
.nav-list {
	margin-top: 2em;
	padding-top: 4px;
	padding-bottom: 4px;
}
li.active ul {
    margin-top: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 0;
}
li.active ul li a {
    padding-left:30px;
}
.footer {
    margin-top: 2em;
}